/* My UX Skills Section coded using CSS Flex */

div.flexContainer {
    display: flex;
    flex-direction: row;
}

div.flexContainer div {
    width: 33%;
    padding: 1%;
}

h3 {
    text-align: center;
}

@media (max-width: 600px) {
    div.flexContainer {
      flex-direction: column;
    }
  }

/* My Work Section coded using CSS Grid */